<footer class="footer">
    <div class="container">
        <div class="col-xs-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="h3">Company</li>
                <li><a href="http://www.groveinnovationllc.com" target="_blank"><i class="fa fa-info-circle"></i> About Us</a></li>
                <li><a href="{% url 'contact_us' %}"><i class="fa fa-envelope"></i> Contact Us</a></li>
                <li><a href="#"><i class="fa fa-money"></i> Invest</a></li>
            </ul>
        </div>
        <div class="col-xs-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="h3">Social</li>
                <li><a href="https://www.facebook.com/GroveInnovation" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                <li><a href="https://twitter.com/GroveInnovation" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
                <li><a href="https://www.instagram.com/groveinnovationllc/" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></li>
            </ul>
        </div>
        <div class="col-xs-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="h3"></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div class="col-md-12 copyr"><p class="text-center">&copy;2017 Grove Innovation LLC</p></div>
    </div>
</footer>
